<app-navbar></app-navbar>

<body>
    <div class="content">
        <div class="portada">

            <div class="filtro">
                <h1 class="bnvnds">BIENVENIDOS</h1>
                <h6>Aprender en la unicundi es divertido</h6>
            </div>
        </div>
        <div class="inf">
            <div class="titl">
                <h5>En nuestra pagina podremos</h5>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid g">
            <div class="targetas">
                <div class="a">
                    <img class="imagenm" src="./assets/images/student1.jpg" alt="">
                    <div class="info">
                        <h5>elegir nucleos tematicos</h5>
                    </div>
                    <div class="hover">
                        <a class="btn btn-primary" [routerLink]="['/registro']">Registrarme</a>
                    </div>
                </div>
                <div class="a">
                    <img class="imagenm" src="./assets/images/student2.jpg" alt="">
                    <div class="info">
                        <h5>participar con publicaciones</h5>
                    </div>
                    <div class="hover">
                        <button class="btn btn-primary" [routerLink]="['/registro']">Registrarme</button>
                    </div>
                </div>
                <div class="a">
                    <img class="imagenm" src="./assets/images/student3.jpg" alt="">
                    <div class="info">
                        <h5>ver profesores populares</h5>
                    </div>
                    <div class="hover">
                        <button class="btn btn-primary" [routerLink]="['/registro']">Registrarme</button>
                    </div>
                </div>
                <div class="a">
                    <img class="imagenm" src="./assets/images/student4.jpg" alt="">
                    <div class="info">
                        <h5>ver archivos compartidos</h5>
                    </div>
                    <div class="hover">
                        <button class="btn btn-primary" [routerLink]="['/registro']">Registrarme</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="portada2">
            <div class="titl">
                <h5>Nuestros Roles</h5>
            </div>
            <div class="filtro2">
                <div class="boxprofesor">
                    <img class="imagenm" src="./assets/images/student6.jpg" alt="">
                    <div class="inforol">
                        <div class="detalles">
                            <img class="esc" src="./assets/images/escudo.png" alt="">
                            <h1>Profesores</h1>
                        </div>
                        <div class="detalleinfo">
                            <p>En este rol podrás cargar archivos y ayudar a los estudiantes con sus dudas en los diferentes temas, tambien podrás ser calificado y los alumnos podrán ver tu popularidad
                            </p>
                            <button class="btn btn-primary" [routerLink]="['/registro']">Registrarme</button>
                        </div>
                    </div>
                </div>
                <div class="boxprofesor">
                    <img class="imagenm" src="./assets/images/student5.jpg" alt="">
                    <div class="inforol">
                        <div class="detalles">
                            <img class="esc" src="./assets/images/escudo.png" alt="">
                            <h1>Estudiantes</h1>
                        </div>
                        <div class="detalleinfo">
                            <p>En este rol podrás descargar documentos respecto al nucleo tematico que desees, de este modo tambien podrás calificar a los profesores basado en el contenido que ellos publican.
                            </p>
                            <button class="btn btn-primary" [routerLink]="['/registro']">Registrarme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="box1">
                    <img class="imagenm" src="./assets/images/info.jpg" alt="">
                </div>
                <div class="box2">
                    <div class="box21">
                        <h1 class="x">¿Quienes somos?</h1>
                    </div>
                    <div class="box22">
                        UniCundiAprende es una plataforma web creada para estudiantes universitarios que deseen complementar o reforzar sus conocimientos mediante documentos pdf cargados por profesores que trataran el tema en cuestión. Brindando de esta manera un modo de aprendizaje
                        netamente autónomo y de fácil entendimiento sea cual sea el núcleo temático de interés, así como también el tema a indagar.
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="box4">
                    <img class="imagenm" src="./assets/images/students.jpg" alt="">
                </div>
                <div class="box3">
                    <div class="box31">
                        <h1 class="x">Nuestros Objetivos</h1>
                    </div>
                    <div class="box32">
                        Contribuir con la educación superior ofreciendo alternativas de aprendizaje autónomo poniendo a disposición de los usuarios una plataforma con información que aporte a la formación académica de una manera asequible sin limitaciones apoyándonos en el cuarto
                        objetivo de la OMS para aportando un granito de arena a la educación de calidad sin restricciones de esta manera ser reconocidos como una fuente de información de primera mano y de confianza.
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="box1">
                    <img class="imagenm" src="./assets/images/student10.jpg" alt="">
                </div>
                <div class="box2">
                    <div class="box21">
                        <h1 class="x">¿Quienes somos?</h1>
                    </div>
                    <div class="box22">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque rerum adipisci quisquam reiciendis laudantium. Itaque debitis reprehenderit ut voluptates unde neque illum saepe optio id possimus adipisci placeat, accusamus a!
                    </div>
                </div>
            </div>
        </div>
        <div class="portada">
            <img class="imagenp" src="./assets/images/students2.jfif" alt="">
            <div class="filtro">
                <h1 class="bnvnds">CONTACTANOS</h1>
                <h6>UNIVERSIDAD DE CUNDINAMARCA</h6>
            </div>
        </div>
    </div>
</body>